In [1]:
import wget
import pandas as pd
import pymysql
import csv

In [2]:
# get data
url = "http://data.water.vic.gov.au/wini/state/SWWQDiscovery.csv"
file = wget.download(url)

100% [..............................................................................] 76834 / 76834

In [3]:
# clean data
df = pd.read_csv('SWWQDiscovery.csv')
df = df[1:552]
df.to_csv('SWWQDiscovery_clean.csv', index=False)

In [10]:
# create connection
con = pymysql.connect(host="127.0.0.1",
                      user="root",
                      passwd="REBORN")
cur = con.cursor()

cur.execute('create database testdb')
con.select_db('testdb')
cur.execute('create table testtable (STATION int,pH int)')

0

In [11]:
# import data
with open('SWWQDiscovery_clean.csv') as csvfile:
    sp = csv.DictReader(csvfile)
    for row in sp:
        sql = 'insert into testtable (STATION,pH) values (%d,%d)'%(int(row['STATION']),int(row['pH']))
        print(sql)
        cur.execute(sql)
con.commit()
cur.close()

insert into testtable (STATION,pH) values (221001,0)
insert into testtable (STATION,pH) values (221201,0)
insert into testtable (STATION,pH) values (221207,0)
insert into testtable (STATION,pH) values (221208,0)
insert into testtable (STATION,pH) values (221209,0)
insert into testtable (STATION,pH) values (221210,0)
insert into testtable (STATION,pH) values (221211,0)
insert into testtable (STATION,pH) values (221212,0)
insert into testtable (STATION,pH) values (221213,0)
insert into testtable (STATION,pH) values (221214,0)
insert into testtable (STATION,pH) values (221601,0)
insert into testtable (STATION,pH) values (222200,0)
insert into testtable (STATION,pH) values (222201,0)
insert into testtable (STATION,pH) values (222202,0)
insert into testtable (STATION,pH) values (222206,0)
insert into testtable (STATION,pH) values (222209,0)
insert into testtable (STATION,pH) values (222210,0)
insert into testtable (STATION,pH) values (222212,0)
insert into testtable (STATION,pH) values (222213,0)
insert into testtable (STATION,pH) values (222216,0)
insert into testtable (STATION,pH) values (222217,0)
insert into testtable (STATION,pH) values (222218,0)
insert into testtable (STATION,pH) values (222219,0)
insert into testtable (STATION,pH) values (223202,1)
insert into testtable (STATION,pH) values (223204,1)
insert into testtable (STATION,pH) values (223205,0)
insert into testtable (STATION,pH) values (223209,0)
insert into testtable (STATION,pH) values (223210,1)
insert into testtable (STATION,pH) values (223212,0)
insert into testtable (STATION,pH) values (223213,0)
insert into testtable (STATION,pH) values (223214,1)
insert into testtable (STATION,pH) values (223215,0)
insert into testtable (STATION,pH) values (224200,0)
insert into testtable (STATION,pH) values (224201,0)
insert into testtable (STATION,pH) values (224203,1)
insert into testtable (STATION,pH) values (224206,1)
insert into testtable (STATION,pH) values (224213,1)
insert into testtable (STATION,pH) values (224215,0)
insert into testtable (STATION,pH) values (224217,2)
insert into testtable (STATION,pH) values (225103,0)
insert into testtable (STATION,pH) values (225114,0)
insert into testtable (STATION,pH) values (225200,0)
insert into testtable (STATION,pH) values (225201,1)
insert into testtable (STATION,pH) values (225204,50)
insert into testtable (STATION,pH) values (225208,0)
insert into testtable (STATION,pH) values (225209,84)
insert into testtable (STATION,pH) values (225210,1)
insert into testtable (STATION,pH) values (225212,28)
insert into testtable (STATION,pH) values (225213,0)
insert into testtable (STATION,pH) values (225217,8)
insert into testtable (STATION,pH) values (225218,0)
insert into testtable (STATION,pH) values (225219,7)
insert into testtable (STATION,pH) values (225223,27)
insert into testtable (STATION,pH) values (225224,5)
insert into testtable (STATION,pH) values (225225,77)
insert into testtable (STATION,pH) values (225228,54)
insert into testtable (STATION,pH) values (225230,0)
insert into testtable (STATION,pH) values (225231,0)
insert into testtable (STATION,pH) values (225232,14)
insert into testtable (STATION,pH) values (225234,61)
insert into testtable (STATION,pH) values (225236,0)
insert into testtable (STATION,pH) values (225247,58)
insert into testtable (STATION,pH) values (225248,0)
insert into testtable (STATION,pH) values (225254,35)
insert into testtable (STATION,pH) values (226005,76)
insert into testtable (STATION,pH) values (226007,0)
insert into testtable (STATION,pH) values (226008,0)
insert into testtable (STATION,pH) values (226017,0)
insert into testtable (STATION,pH) values (226021,0)
insert into testtable (STATION,pH) values (226028,0)
insert into testtable (STATION,pH) values (226033,40)
insert into testtable (STATION,pH) values (226041,0)
insert into testtable (STATION,pH) values (226204,0)
insert into testtable (STATION,pH) values (226205,0)
insert into testtable (STATION,pH) values (226209,0)
insert into testtable (STATION,pH) values (226216,0)
insert into testtable (STATION,pH) values (226220,1)
insert into testtable (STATION,pH) values (226222,76)
insert into testtable (STATION,pH) values (226226,0)
insert into testtable (STATION,pH) values (226227,12)
insert into testtable (STATION,pH) values (226228,5)
insert into testtable (STATION,pH) values (226235,0)
insert into testtable (STATION,pH) values (226237,0)
insert into testtable (STATION,pH) values (226241,0)
insert into testtable (STATION,pH) values (226242,0)
insert into testtable (STATION,pH) values (226243,37)
insert into testtable (STATION,pH) values (226402,0)
insert into testtable (STATION,pH) values (226408,0)
insert into testtable (STATION,pH) values (226415,0)
insert into testtable (STATION,pH) values (226600,0)
insert into testtable (STATION,pH) values (226601,0)
insert into testtable (STATION,pH) values (226612,0)
insert into testtable (STATION,pH) values (227200,0)
insert into testtable (STATION,pH) values (227202,0)
insert into testtable (STATION,pH) values (227205,0)
insert into testtable (STATION,pH) values (227211,0)
insert into testtable (STATION,pH) values (227225,0)
insert into testtable (STATION,pH) values (227226,0)
insert into testtable (STATION,pH) values (227227,0)
insert into testtable (STATION,pH) values (227231,0)
insert into testtable (STATION,pH) values (227232,0)
insert into testtable (STATION,pH) values (227236,0)
insert into testtable (STATION,pH) values (227237,0)
insert into testtable (STATION,pH) values (227240,0)
insert into testtable (STATION,pH) values (227251,0)
insert into testtable (STATION,pH) values (227253,0)
insert into testtable (STATION,pH) values (227254,0)
insert into testtable (STATION,pH) values (227258,0)
insert into testtable (STATION,pH) values (227259,0)
insert into testtable (STATION,pH) values (227260,0)
insert into testtable (STATION,pH) values (227261,0)
insert into testtable (STATION,pH) values (227262,0)
insert into testtable (STATION,pH) values (227265,0)
insert into testtable (STATION,pH) values (227272,0)
insert into testtable (STATION,pH) values (228201,0)
insert into testtable (STATION,pH) values (228204,0)
insert into testtable (STATION,pH) values (228206,0)
insert into testtable (STATION,pH) values (228207,0)
insert into testtable (STATION,pH) values (228209,0)
insert into testtable (STATION,pH) values (228212,0)
insert into testtable (STATION,pH) values (228213,0)
insert into testtable (STATION,pH) values (228217,0)
insert into testtable (STATION,pH) values (228219,0)
insert into testtable (STATION,pH) values (228228,0)
insert into testtable (STATION,pH) values (228272,0)
insert into testtable (STATION,pH) values (228273,0)
insert into testtable (STATION,pH) values (228274,0)
insert into testtable (STATION,pH) values (228275,0)
insert into testtable (STATION,pH) values (228276,0)
insert into testtable (STATION,pH) values (228277,0)
insert into testtable (STATION,pH) values (228278,0)
insert into testtable (STATION,pH) values (228279,0)
insert into testtable (STATION,pH) values (228280,0)
insert into testtable (STATION,pH) values (228281,0)
insert into testtable (STATION,pH) values (228282,0)
insert into testtable (STATION,pH) values (228283,0)
insert into testtable (STATION,pH) values (228284,0)
insert into testtable (STATION,pH) values (228285,0)
insert into testtable (STATION,pH) values (228286,0)
insert into testtable (STATION,pH) values (228386,0)
insert into testtable (STATION,pH) values (228388,0)
insert into testtable (STATION,pH) values (228398,0)
insert into testtable (STATION,pH) values (228604,0)
insert into testtable (STATION,pH) values (229143,0)
insert into testtable (STATION,pH) values (229146,0)
insert into testtable (STATION,pH) values (229149,0)
insert into testtable (STATION,pH) values (229200,15)
insert into testtable (STATION,pH) values (229212,0)
insert into testtable (STATION,pH) values (229214,0)
insert into testtable (STATION,pH) values (229215,0)
insert into testtable (STATION,pH) values (229216,1)
insert into testtable (STATION,pH) values (229218,0)
insert into testtable (STATION,pH) values (229223,0)
insert into testtable (STATION,pH) values (229289,0)
insert into testtable (STATION,pH) values (229295,0)
insert into testtable (STATION,pH) values (229296,0)
insert into testtable (STATION,pH) values (229297,0)
insert into testtable (STATION,pH) values (229298,0)
insert into testtable (STATION,pH) values (229299,0)
insert into testtable (STATION,pH) values (229416,0)
insert into testtable (STATION,pH) values (229417,0)
insert into testtable (STATION,pH) values (229418,0)
insert into testtable (STATION,pH) values (229419,0)
insert into testtable (STATION,pH) values (229420,0)
insert into testtable (STATION,pH) values (229421,0)
insert into testtable (STATION,pH) values (229601,0)
insert into testtable (STATION,pH) values (229603,0)
insert into testtable (STATION,pH) values (229614,0)
insert into testtable (STATION,pH) values (229653,0)
insert into testtable (STATION,pH) values (229670,0)
insert into testtable (STATION,pH) values (229671,0)
insert into testtable (STATION,pH) values (229677,0)
insert into testtable (STATION,pH) values (230104,0)
insert into testtable (STATION,pH) values (230200,0)
insert into testtable (STATION,pH) values (230202,0)
insert into testtable (STATION,pH) values (230204,0)
insert into testtable (STATION,pH) values (230205,0)
insert into testtable (STATION,pH) values (230206,0)
insert into testtable (STATION,pH) values (230208,0)
insert into testtable (STATION,pH) values (230209,0)
insert into testtable (STATION,pH) values (230210,0)
insert into testtable (STATION,pH) values (230211,0)
insert into testtable (STATION,pH) values (230213,0)
insert into testtable (STATION,pH) values (230216,108)
insert into testtable (STATION,pH) values (230232,0)
insert into testtable (STATION,pH) values (230244,0)
insert into testtable (STATION,pH) values (230245,0)
insert into testtable (STATION,pH) values (231102,0)
insert into testtable (STATION,pH) values (231200,0)
insert into testtable (STATION,pH) values (231203,0)
insert into testtable (STATION,pH) values (231204,0)
insert into testtable (STATION,pH) values (231205,0)
insert into testtable (STATION,pH) values (231208,0)
insert into testtable (STATION,pH) values (231211,0)
insert into testtable (STATION,pH) values (231213,0)
insert into testtable (STATION,pH) values (231221,101)
insert into testtable (STATION,pH) values (231222,109)
insert into testtable (STATION,pH) values (231223,108)
insert into testtable (STATION,pH) values (231225,0)
insert into testtable (STATION,pH) values (231230,0)
insert into testtable (STATION,pH) values (231231,1)
insert into testtable (STATION,pH) values (231234,0)
insert into testtable (STATION,pH) values (232200,0)
insert into testtable (STATION,pH) values (232202,0)
insert into testtable (STATION,pH) values (232204,0)
insert into testtable (STATION,pH) values (232210,0)
insert into testtable (STATION,pH) values (232211,0)
insert into testtable (STATION,pH) values (233200,0)
insert into testtable (STATION,pH) values (233201,0)
insert into testtable (STATION,pH) values (233211,0)
insert into testtable (STATION,pH) values (233214,0)
insert into testtable (STATION,pH) values (233215,0)
insert into testtable (STATION,pH) values (233217,0)
insert into testtable (STATION,pH) values (233218,0)
insert into testtable (STATION,pH) values (233223,0)
insert into testtable (STATION,pH) values (233224,0)
insert into testtable (STATION,pH) values (233228,0)
insert into testtable (STATION,pH) values (233247,0)
insert into testtable (STATION,pH) values (233260,0)
insert into testtable (STATION,pH) values (233261,0)
insert into testtable (STATION,pH) values (233600,0)
insert into testtable (STATION,pH) values (233601,0)
insert into testtable (STATION,pH) values (234200,0)
insert into testtable (STATION,pH) values (234201,0)
insert into testtable (STATION,pH) values (234203,0)
insert into testtable (STATION,pH) values (234204,0)
insert into testtable (STATION,pH) values (234205,0)
insert into testtable (STATION,pH) values (234213,0)
insert into testtable (STATION,pH) values (234602,0)
insert into testtable (STATION,pH) values (234603,0)
insert into testtable (STATION,pH) values (234605,0)
insert into testtable (STATION,pH) values (234606,0)
insert into testtable (STATION,pH) values (234607,0)
insert into testtable (STATION,pH) values (234608,0)
insert into testtable (STATION,pH) values (234609,0)
insert into testtable (STATION,pH) values (234610,0)
insert into testtable (STATION,pH) values (234611,0)
insert into testtable (STATION,pH) values (234612,0)
insert into testtable (STATION,pH) values (234614,0)
insert into testtable (STATION,pH) values (234615,0)
insert into testtable (STATION,pH) values (235202,0)
insert into testtable (STATION,pH) values (235203,0)
insert into testtable (STATION,pH) values (235204,0)
insert into testtable (STATION,pH) values (235205,0)
insert into testtable (STATION,pH) values (235208,0)
insert into testtable (STATION,pH) values (235209,0)
insert into testtable (STATION,pH) values (235211,0)
insert into testtable (STATION,pH) values (235216,0)
insert into testtable (STATION,pH) values (235224,0)
insert into testtable (STATION,pH) values (235227,0)
insert into testtable (STATION,pH) values (235233,0)
insert into testtable (STATION,pH) values (235234,0)
insert into testtable (STATION,pH) values (235237,0)
insert into testtable (STATION,pH) values (235239,0)
insert into testtable (STATION,pH) values (235240,0)
insert into testtable (STATION,pH) values (235241,0)
insert into testtable (STATION,pH) values (235600,0)
insert into testtable (STATION,pH) values (235602,0)
insert into testtable (STATION,pH) values (236202,0)
insert into testtable (STATION,pH) values (236203,0)
insert into testtable (STATION,pH) values (236204,0)
insert into testtable (STATION,pH) values (236205,0)
insert into testtable (STATION,pH) values (236209,0)
insert into testtable (STATION,pH) values (236210,0)
insert into testtable (STATION,pH) values (236212,0)
insert into testtable (STATION,pH) values (236215,0)
insert into testtable (STATION,pH) values (236216,0)
insert into testtable (STATION,pH) values (236600,53)
insert into testtable (STATION,pH) values (236601,0)
insert into testtable (STATION,pH) values (236602,53)
insert into testtable (STATION,pH) values (236603,13)
insert into testtable (STATION,pH) values (236606,53)
insert into testtable (STATION,pH) values (236609,0)
insert into testtable (STATION,pH) values (236610,39)
insert into testtable (STATION,pH) values (236611,43)
insert into testtable (STATION,pH) values (237200,0)
insert into testtable (STATION,pH) values (237205,0)
insert into testtable (STATION,pH) values (237206,0)
insert into testtable (STATION,pH) values (237207,0)
insert into testtable (STATION,pH) values (237602,0)
insert into testtable (STATION,pH) values (237603,0)
insert into testtable (STATION,pH) values (238202,0)
insert into testtable (STATION,pH) values (238204,0)
insert into testtable (STATION,pH) values (238205,0)
insert into testtable (STATION,pH) values (238206,0)
insert into testtable (STATION,pH) values (238207,0)
insert into testtable (STATION,pH) values (238208,0)
insert into testtable (STATION,pH) values (238210,0)
insert into testtable (STATION,pH) values (238212,0)
insert into testtable (STATION,pH) values (238218,0)
insert into testtable (STATION,pH) values (238219,0)
insert into testtable (STATION,pH) values (238220,0)
insert into testtable (STATION,pH) values (238223,0)
insert into testtable (STATION,pH) values (238224,0)
insert into testtable (STATION,pH) values (238228,0)
insert into testtable (STATION,pH) values (238231,0)
insert into testtable (STATION,pH) values (238236,179)
insert into testtable (STATION,pH) values (238237,59)
insert into testtable (STATION,pH) values (238600,53)
insert into testtable (STATION,pH) values (238601,0)
insert into testtable (STATION,pH) values (238602,0)
insert into testtable (STATION,pH) values (238603,0)
insert into testtable (STATION,pH) values (238604,23)
insert into testtable (STATION,pH) values (239201,0)
insert into testtable (STATION,pH) values (239600,0)
insert into testtable (STATION,pH) values (239601,0)
insert into testtable (STATION,pH) values (239602,0)
insert into testtable (STATION,pH) values (401201,409)
insert into testtable (STATION,pH) values (401203,0)
insert into testtable (STATION,pH) values (401204,166)
insert into testtable (STATION,pH) values (401205,0)
insert into testtable (STATION,pH) values (401210,52)
insert into testtable (STATION,pH) values (401211,211)
insert into testtable (STATION,pH) values (401212,1)
insert into testtable (STATION,pH) values (401213,52)
insert into testtable (STATION,pH) values (401215,1)
insert into testtable (STATION,pH) values (401216,0)
insert into testtable (STATION,pH) values (401224,48)
insert into testtable (STATION,pH) values (401226,1)
insert into testtable (STATION,pH) values (401600,0)
insert into testtable (STATION,pH) values (402203,1)
insert into testtable (STATION,pH) values (402204,0)
insert into testtable (STATION,pH) values (402205,258)
insert into testtable (STATION,pH) values (402213,0)
insert into testtable (STATION,pH) values (402222,0)
insert into testtable (STATION,pH) values (402223,0)
insert into testtable (STATION,pH) values (402406,0)
insert into testtable (STATION,pH) values (402600,1)
insert into testtable (STATION,pH) values (403200,0)
insert into testtable (STATION,pH) values (403205,1)
insert into testtable (STATION,pH) values (403209,0)
insert into testtable (STATION,pH) values (403210,0)
insert into testtable (STATION,pH) values (403213,2)
insert into testtable (STATION,pH) values (403216,1)
insert into testtable (STATION,pH) values (403217,1)
insert into testtable (STATION,pH) values (403218,0)
insert into testtable (STATION,pH) values (403221,0)
insert into testtable (STATION,pH) values (403222,0)
insert into testtable (STATION,pH) values (403223,0)
insert into testtable (STATION,pH) values (403228,0)
insert into testtable (STATION,pH) values (403230,99)
insert into testtable (STATION,pH) values (403234,167)
insert into testtable (STATION,pH) values (403235,157)
insert into testtable (STATION,pH) values (403241,261)
insert into testtable (STATION,pH) values (403244,103)
insert into testtable (STATION,pH) values (403600,1)
insert into testtable (STATION,pH) values (404206,0)
insert into testtable (STATION,pH) values (404207,0)
insert into testtable (STATION,pH) values (404210,255)
insert into testtable (STATION,pH) values (404214,0)
insert into testtable (STATION,pH) values (404216,0)
insert into testtable (STATION,pH) values (404218,177)
insert into testtable (STATION,pH) values (404219,191)
insert into testtable (STATION,pH) values (404222,0)
insert into testtable (STATION,pH) values (404224,2)
insert into testtable (STATION,pH) values (404711,0)
insert into testtable (STATION,pH) values (404712,0)
insert into testtable (STATION,pH) values (404713,0)
insert into testtable (STATION,pH) values (405200,0)
insert into testtable (STATION,pH) values (405201,0)
insert into testtable (STATION,pH) values (405202,0)
insert into testtable (STATION,pH) values (405203,98)
insert into testtable (STATION,pH) values (405204,0)
insert into testtable (STATION,pH) values (405205,96)
insert into testtable (STATION,pH) values (405209,103)
insert into testtable (STATION,pH) values (405212,0)
insert into testtable (STATION,pH) values (405214,0)
insert into testtable (STATION,pH) values (405215,0)
insert into testtable (STATION,pH) values (405217,0)
insert into testtable (STATION,pH) values (405218,0)
insert into testtable (STATION,pH) values (405219,103)
insert into testtable (STATION,pH) values (405227,0)
insert into testtable (STATION,pH) values (405228,1)
insert into testtable (STATION,pH) values (405231,0)
insert into testtable (STATION,pH) values (405232,255)
insert into testtable (STATION,pH) values (405234,0)

insert into testtable (STATION,pH) values (414224,0)
insert into testtable (STATION,pH) values (414225,0)
insert into testtable (STATION,pH) values (414226,0)
insert into testtable (STATION,pH) values (414227,0)
insert into testtable (STATION,pH) values (414228,0)
insert into testtable (STATION,pH) values (414600,9)
insert into testtable (STATION,pH) values (414601,0)
insert into testtable (STATION,pH) values (414602,0)
insert into testtable (STATION,pH) values (414603,0)
insert into testtable (STATION,pH) values (414604,0)
insert into testtable (STATION,pH) values (414605,0)
insert into testtable (STATION,pH) values (414702,0)
insert into testtable (STATION,pH) values (414703,0)
insert into testtable (STATION,pH) values (414706,0)
insert into testtable (STATION,pH) values (414716,0)
insert into testtable (STATION,pH) values (414717,0)
insert into testtable (STATION,pH) values (414721,0)
insert into testtable (STATION,pH) values (414723,0)
insert into testtable (STATION,pH) values (414724,0)
insert into testtable (STATION,pH) values (414728,0)
insert into testtable (STATION,pH) values (415200,0)
insert into testtable (STATION,pH) values (415201,0)
insert into testtable (STATION,pH) values (415202,21)
insert into testtable (STATION,pH) values (415203,0)
insert into testtable (STATION,pH) values (415207,0)
insert into testtable (STATION,pH) values (415214,0)
insert into testtable (STATION,pH) values (415217,0)
insert into testtable (STATION,pH) values (415220,0)
insert into testtable (STATION,pH) values (415224,0)
insert into testtable (STATION,pH) values (415227,103)
insert into testtable (STATION,pH) values (415228,70)
insert into testtable (STATION,pH) values (415229,68)
insert into testtable (STATION,pH) values (415237,0)
insert into testtable (STATION,pH) values (415246,0)
insert into testtable (STATION,pH) values (415251,0)
insert into testtable (STATION,pH) values (415257,0)
insert into testtable (STATION,pH) values (415258,0)
insert into testtable (STATION,pH) values (415259,0)
insert into testtable (STATION,pH) values (415600,0)
insert into testtable (STATION,pH) values (415601,0)
insert into testtable (STATION,pH) values (415602,0)
insert into testtable (STATION,pH) values (415604,0)
insert into testtable (STATION,pH) values (415605,0)
insert into testtable (STATION,pH) values (415606,114)
insert into testtable (STATION,pH) values (415607,20)
insert into testtable (STATION,pH) values (415608,186)
insert into testtable (STATION,pH) values (415609,110)
insert into testtable (STATION,pH) values (415610,185)
insert into testtable (STATION,pH) values (415611,0)
insert into testtable (STATION,pH) values (415612,119)
insert into testtable (STATION,pH) values (426200,0)